.int-text {
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 30px;
}

.int-text::placeholder {
    color: black;
}

.container {
    margin-top: 30px;
}

.btn-contar {
    position: absolute;
    top: 60px;
    right: 120px;
}